
<center>
  <li>
    <%= link_to new_list_path do %>
      <i class="glyphicon glyphicon-plus-sign"></i>
      New Item
    <% end %>
  </li>
  <h1> I Will Not...</h1>
  
  <!-- Displays all of the users items and links to a more detailed show page -->
  <% @lists.each do |list| %>
    <div>
      <h1><%= link_to list.name, list_path(list) %></h1><br />
    </div>
    <hr />
    
  <% end %>
  

</center>
