<center>
    <br/>
    <%= image_tag 'no.jpg' %>

    <p> Say No to 3 things today</p>
    <p> Sign up for an account to create your list</p>
    
    <%= link_to 'Make Your List', lists_path, :class => 'btn btn-primary' %>

</center>