<center>
    <%= image_tag "me.jpg" %>
    <h2> Me in 10 seconds or less</h2>
        <ul>
            
                <p>I am an aspiring web developer and recent college graduate.</p>
                
                <p> I live in Atlanta, GA. </p>
                
                <p>I read a lot of books and I love anime </p>
                
                <p>You can find my scattered work history on my <a href="https://www.linkedin.com/in/cameron-harris-78207172
">Linkedin Page</a>.</p>
                
                <p>You can find code samples on my <a href="https://github.com/cameroniharris
">Github Page</a> </p>
            
            
        </ul>
</center>
